@use '../abstracts' as my;

.alert {
  display: flex;

  padding: 0.5rem;

  background-color: my.palette('validation', 'default');
  border: 1px solid my.palette('validation', 'default-border');
  border-radius: 8px;

  &::before {
    display: inline-block;

    width: 24px;
    height: 24px;
    margin-right: to-rem(8px);

    content: none;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px auto;
  }
}

.alert__content {
  flex: 1;
}

.alert__content p {
  margin-bottom: 0;

  font-size: to-rem(12px);
  line-height: to-rem(24px);
}

.alert--success {
  background-color: my.palette('validation', 'success');
  border: 1px solid my.palette('validation', 'success-border');

  &::before {
    content: '';

    background: url('/assets/success.svg');
  }
}

.alert--warning {
  background-color: my.palette('validation', 'warning');
  border: 1px solid my.palette('validation', 'warning-border');

  &::before {
    content: '';

    background: url('/assets/success.svg');
  }
}

.alert--error {
  background-color: my.palette('validation', 'error');
  border: 1px solid my.palette('validation', 'error-border');

  &::before {
    content: '';

    background: url('/assets/error.svg');
  }
}
