@use 'sass:map';

@use '../abstracts' as my;

.product {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;

  row-gap: my.$gutter * 0.5;
  column-gap: my.$gutter * 0.5;
  /* stylelint-disable-next-line property-no-unknown */

  width: 100%;

  img {
    display: inline-block;

    align-items: center;

    width: auto;
    height: auto;
  }

  button span {
    display: none;

    margin-right: my.$gutter * 0.25;
  }

  @media screen and (min-width: #{map.get(my.$breakpoints, 'desktop')}) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media screen and (max-width: #{map.get(my.$breakpoints, 'desktop') - 0.01}) {
    .benefits,
    .speedy-info p {
      display: none;
    }
  }

  @media screen and (min-width: #{map.get(my.$breakpoints, 'tablet__portrait') - 0.01}) {
    button span {
      display: flex;
    }
  }
}

.speedy-info {
  display: grid;

  grid-template-rows: auto;

  row-gap: my.$gutter * 0.5;

  width: 100%;

  img {
    width: 14px;
    margin-right: my.$gutter * 0.25;
  }
}

.arrow-down {
}

.product-price {
  display: grid;

  grid-template-columns: 1fr auto;

  row-gap: my.$gutter * 0.5;
  column-gap: my.$gutter * 0.5;
  /* stylelint-disable-next-line property-no-unknown */

  width: 100%;

  text-align: right;

  @media screen and (min-width: #{map.get(my.$breakpoints, 'tablet__portrait') - 0.01}) {
    display: unset;

    grid-template-columns: unset;

    column-gap: my.$gutter * 0.5;

    .pricing {
      margin-bottom: my.$gutter * 0.5;
    }
  }
}
